#################
## General
#################

*.tmp
*.bak
*.swp

#################
## Xilinx ISE
#################

_ngo/
xlnx_auto_0_xdb/
xst/
*_envsettings.html
*_usage.xml
*_summary.*
*.lso
*.syr
*.prj
webtalk*
*.cmd_log
*.xmsgs
*.stx
*.ncd
*.ngc
*.ngr
*.ngd
*.bld
*_ngbuild.xprt
*_map.*
*.pad
*_pad.*
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.xpi
*.xrpt
*.xst


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

